body,
html,
#root,
.app,
.container {
	background: url('./Lbimg.jpg') no-repeat center center fixed;
	background-size: cover;
}

.container {
	font-size: 50px;
	color: rgb(15, 14, 14);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.loginForm {
	box-sizing: border-box;
	min-width: 20%;
	min-height: 300px;
	border: solid rgb(51, 51, 85) 3px;
	padding-left: 20px;
	padding-right: 20px;
	position: absolute;
	top: 50%;
	
	transform: translate(-50%, -50%);
}
.bottomText {
	margin-top: 20px;
	font-size: 15px;
	font-weight: bold;
}
.inputField {
	padding-top: 15px;
}

.input {
	box-sizing: border-box;
	outline: none;
	border: solid rgb(51, 51, 85) 2px;
	border-radius: 4px;
	color: #292929;
	width: 100%;
	padding: 12px;
	font-size: 14px;
	background: rgba(255, 255, 255, 1);
}

.submitButton {	
	padding-top: 15px;	
}

.btn {
	width: 100%;
	min-width: 50px;
	color: hsl(0, 20%, 98%);
	padding: 12px;
	font-size: 20px;
	font-weight: bold;
	border: solid 2px rgb(51, 51, 85);
	border-radius: 4px;
	background: rgb(30, 4, 79);
	cursor: pointer;	
}

.btn:hover{
	background: rgb(36, 118, 37);
}


.signup {
	border: 0.5px solid black;
	background:lightblue;
	border-radius: 5px;
	margin-left: 15px;
	padding:0.5px;
	cursor: pointer;
}

.signup:hover {
	font-size: 20px;
	text-decoration: underline;
}

.Title{
	font-size:60px;
	padding:30px;
	margin:auto;
	color:darkblue;
	min-hight:200px;

}
.box1{
	margin-left:20%;
}
.box2{
	top:25%;
	left: 40%;
	right:30%;
	padding: 10px;
	position:absolute;
	min-width: 30%;
	min-height: 300px;
	text-align: center;	
	background-image: url("./sp.png");
	background-size:contain;
	background-repeat: no-repeat;
	background-position: fixed center;
	
}
.box2 h1{
	font-size: 20px;
	color:#1c1558;
	font-style:italic;
	font-weight: bolder;

}
