.App{
margin:auto;
padding:20px;
}
.container{

    width:500px;
    max-width: 100%;
    padding:0 20px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 15px;
    background:rgb(109, 197, 241);
    font-size: 20px;
    
}

.headerStyle{
    width:250px;
    max-width: 100%;
    text-align: center;
    padding:0 20px;
    margin: 0 auto;
    border-radius: 15px;
    background-image:url("./bgheader.png");
    background-position: 80%;
    font-size: 20px;
    
    
    /*rgb(133, 214, 71);*/
    
}

.calendarStyle{
    background-image: url("./bgcalendar.jpg" ) ;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
   

}